:root {
    --primary-color: #FFF;
    --secondary-color: #DF0606;
    --tertiary-color: #381F75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#background-image {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 840px;
    background-image: url(Images/Hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.95;
}

/* 222px is half the logo width */
#logo {
    margin: 0 calc(50vw - 222px);
    margin-top: 100px;
    background: transparent;
    position: relative;
}

#logo a,
#logo img {
    background: transparent;
}

nav {
    height: 60px;
    width: 90%;
    border: 4px solid var(--tertiary-color);
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0px;
    left: calc((100vw - 90%) / 2);
    z-index: 10;
    opacity: 1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25), -5px 5px 20px rgba(0, 0, 0, 0.25);
}

.navbar-list{
    border-radius: 0px 0px 10px 10px;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list li a{
    padding: 4px 10px;
    margin: 0 1rem;
    border-radius: 5px;
    transition-duration: 100ms;
}

.navbar-list li {
    transition-duration: 100ms;
}

.navbar-list li:hover {
    transform: scale(1.2);
}

.navbar-list li:hover a{
    color: var(--tertiary-color);
}

@media screen and (max-width: 1000px) {
    #logo {
        margin-top: 0;
    }

    nav {
        border: 4px solid var(--tertiary-color);
        border-radius: 10px;
        height: 220px;
        width: min(40%, 260px);
        left: calc(50% - min(20%, 130px));
        position: relative;
        box-shadow: 5px 5px 10px black;
    }

    .navbar-list {
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 10px;
    }

    #background-image {
        height: 1020px;
        width: 100%;
        left: 0;
    }
}

#section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    position: relative;
}

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#hours-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    border: 4px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 20px 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px black;
}

#hours-list :not(:first-child) {
    margin-top: 20px;
}

.hours-days {
    font-weight: bold;
}

.hours-hours {
    font-size: 1rem;
    position: relative;
    top: -10px;
}

#order-now {
    margin: 60px 0px;
}

#order-now a {
    font-size: 2rem;
    border: 4px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 5px 5px 10px black;

    transition-property: color, background-color;
    transition-duration: 200ms;
}

#order-now a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

#section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary-color);
    width: 100%;
    margin-top: 40px;
    padding-bottom: 60px;
}

.title {
    background-color: inherit;
    grid-column: span 2;
    width: 100%;
    height: 120px;
    margin-top: 40px;
}

.title h1 {
    background-color: inherit;
    text-align: center;
    color: var(--primary-color);
    font-size: 3.5rem;
}

#menu-list {
    background-color: inherit;
    list-style: none;
    text-align: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 200px 40px;
    padding: 40px;
}

#menu-list li {
    background-color: inherit;
    color: var(--primary-color);
    font-size: 2rem;
    grid-column: span 2;
}

#menu-list li:nth-last-child(1):nth-child(odd) {
	grid-column: 2 / span 2;
}

#menu-list li img {
    border: 4px solid var(--primary-color);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
    h1.menu {
        margin-top: 50px;
    }

    #menu-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #menu-list li:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
    }
}

#specials-list {
    background-color: inherit;
    list-style: none;
    text-align: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 40px;
    padding: 40px;
}

h1.specials {
    margin-top: 60px;
}

#specials-list li {
    background-color: inherit;
    color: var(--primary-color);
    font-size: 2rem;
}

#specials-list li p {
    border-radius: 5px;
    margin-top: 5px;
}

.specials-sub-list {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.specials p {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
    #specials-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

footer {
    height: 140px;
    text-align: center;
    background: transparent;
}

#copyright {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 5px;
    padding-bottom: 10px;
}

#copyright p {
    color: black;
    font-size: 0.8rem;
}

#contact {
    position: relative;
    top: 40px;
}